.findPw {
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.findPw .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.findPw .logo a {
  width: 200px;
  height: 200px;
  margin: 0;
}
.findPw h2 {
  font-size: 32px;
  color: #3a0f77;
  font-weight: bold;
  line-height: 1;
  border-bottom: 2px solid #3a0f77;
  padding-bottom: 20px;
}
.findPw .findPw_main {
  padding: 40px 0 0 0;
}
.findPw .findPw_main li {
  padding-bottom: 12px;
}
.findPw .findPw_main li input {
  width: 100%;
  height: 46px;
  text-indent: 16px;
  box-sizing: border-box;
}
.findPw .findPw_main li input::placeholder {
  font-size: 16px;
  color: #9fa19f;
}
.findPw .findPw_main li button {
  margin-top: 20px;
  width: 100%;
  height: 56px;
  background: #3a0f77;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.findPw a.be {
  position: relative;
  font-size: 14px;
  color: #666;
  display: inline-block;
  margin-top: 14px;
}
.findPw a.be::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: #666;
}

@media (max-width: 410px) {
  .findPw {
    width: 90%;
  }
}