/* 가운데 영역 */
.container {
  width: 1080px;
  margin: 0 auto;
}

/* 로우 영역 */
.row {
  padding: 0 16px;
}

/* 믹스인 */
@mixin logoWrapStyle {
  width: 200px;
  height: 200px;
  margin: 0 auto 45px auto;
}
@mixin h2Style {
  font-size: 32px;
  font-weight: 500;
  color: #3a0f77;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px;
}
@mixin h3Style {
  margin: 5px 0 20px;
  font-size: 18px;
  color: #222;
  font-weight: normal;

  &::before {
    content: "";
    display: inline-block;
    margin: 0 8px 0 0;
    width: 4px;
    height: 4px;
    background: #a566ff;
    vertical-align: 4px;
  }
}
@mixin stepStyle {
  display: flex;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

  li {
    flex: 1;
    position: relative;
    padding: 22px 0;
    font-size: 11px;
    color: #a5a5a5;
    text-align: center;
    line-height: 100%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 12px;
      height: 19px;
      transform: translate(-50% -50%);
      background: url("../img/icon.png") no-repeat -488px 0;
    }

    &:last-child::after {
      display: none;
    }

    div {
      padding: 8px 0 0;
      font-size: 18px;
      color: #a5a5a5;
      text-wrap: nowrap;
    }

    &.on {
      color: #222;

      div {
        color: #042e6f;
      }
    }
  }
}

/* member01 */
.member01 {
  .logo_wrap {
    @include logoWrapStyle();
  }

  h2 {
    @include h2Style();
  }

  .step {
    @include stepStyle();
  }

  .join_box1 {
    margin: 50px 0 32px;
    padding: 40px 0 0;
    height: 402px;
    background: url("../img/bg_msgbox01.png") no-repeat 0 0,
      url("../img/bg_msgbox02.png") no-repeat right bottom;
    background-color: #e4ebf1;
    text-align: center;
    box-sizing: border-box;

    h3 {
      position: relative;
      @include h3Style();
      background: url("../img/ico_member.png") no-repeat center top;
      padding: 96px 0 37px;
      line-height: 100%;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 50px;
        height: 2px;
        background: #222;
        transform: translate(-50%);
      }
    }

    p {
      padding: 37px 0 57px;
      font-size: 14px;
      color: #888;
    }
  }

  .not1 {
    font-size: 14px;
    color: #888;

    &::before {
      content: "";
      display: inline-block;
      margin: 0 3px 0 0;
      width: 15px;
      height: 15px;
      background: url("../img/icon.png") no-repeat -470px -3px;
      vertical-align: -3px;
    }
  }
}

/* member02 */
.member02 {
  .logo_wrap {
    @include logoWrapStyle();
  }

  h2 {
    @include h2Style();
  }

  .step {
    @include stepStyle();
  }

  h3 {
    @include h3Style();
  }

  .agree_box {
    overflow: auto;
    margin: 0 0 8px;
    padding: 35px 30px;
    height: 152px;
    border-top: 2px solid #2a0066;
    border-bottom: 1px solid #999;

    h4 {
      padding: 0 0 12px;
      font-size: 17px;
      color: #222;
      line-height: 100%;
      font-weight: normal;
    }

    h5 {
      padding: 15px 0 0;
      font-size: 14px;
      color: #222;
      font-weight: normal;
      line-height: 100%;
    }

    p {
      line-height: 26px;
      font-size: 13px;
      color: #777;
    }

    li {
      font-size: 14px;
      color: #777;
      line-height: 26px;
    }

    > ul > li::before {
      content: "";
      display: inline-block;
      margin: 0 7px 0 0;
      width: 2px;
      height: 2px;
      background: #888;
      vertical-align: middle;
    }

    > ul > li ul {
      padding: 0 0 0 9px;
    }

    > ol > li ol {
      padding: 0 0 0 12px;
    }

    &.ovn {
      overflow: visible;
      height: auto;
    }
  }

  .btn_center {
    text-align: center;
    margin: 0px 0;
    padding: 65px 0;
  }
}

/* member03 */
table.type01 {
  border-top: 2px solid #2a0066;
  border-bottom: 1px solid #999;
  width: 100%;

  th,
  td {
    height: 40px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 13px;
  }

  th:first-child {
    border-left: none;
  }

  tr:first-child {
    th,
    td {
      border-top: none;
    }
  }

  th {
    padding: 10px 10px 10px 45px;
    text-align: left;
    font-weight: normal;
    font-size: 13px;
    color: #222;

    span {
      overflow: hidden;
      display: inline-block;
      margin: 0 6px 0 -14px;
      width: 8px;
      height: 7px;
      background: url("../img/icon.png") no-repeat -359px -15px;
      color: transparent;
      vertical-align: 2px;
    }
  }

  td {
    padding: 10px 55px; 
    color: #777;

    &.select input[type=radio] {
      display: none;
      
      + label {
        display: inline-block;
        width: 90px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #333;
        text-align: center;
        background: #fff;
      }

      &:checked + label {
        background: #333;
        color: #fff;
      }
    }

    > div {
      padding: 10px 0 0;

      &:first-child {
        padding: 0;
      }
    }
  }

  .info::before {content: ""; display: inline-block; margin: 0 5px 0 13px; width: 15px; height: 14px; background: 
    url("../img/icon.png") no-repeat -470px -3px; vertical-align: -2px;}
}

/* 버튼 */
.btn_type1 {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 120px;
  height: 45px;
  background: #3a0f77;
  line-height: 45px;
  color: #fff;
  font-size: 13px;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
}
.btn_type2 {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 45px;
  background: #fff;
  line-height: 45px;
  color: #3a0f77;
  border: 1px solid #3a0f77;
  vertical-align: middle;
  cursor: pointer;
}
.btn_type3 {
  display: inline-block;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 2px solid #aaa;
  box-sizing: border-box;
  vertical-align: middle;
}
.btn_type4 {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 45px;
  background: #3a0f77;
  line-height: 45px;
  color: #fff;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

/* input type */
input[type=text],
input[type=password],
input[type=tel] {
  padding: 0 20px;
  height: 38px;
  color: #777;
  border: 1px solid #ccc;
  background: #fff;
  transition: all 0.5s;
  box-sizing: border-box;
  vertical-align: middle;
}
select {
  padding: 0 59px 0 20px;
  height: 38px;
  color: #777;
  border: 1px solid #ccc;
  line-height: 38px;
  box-sizing: border-box;
  vertical-align: middle;
}

/* 미디어 쿼리 */
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .step {
    li div {
      font-size: 15px !important;
    }
  }
}
