@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
/* 레이아웃 */
body {
  width: 100%;
  position: relative;
}

#nav {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
}
#nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #3a0f77;
  left: 0;
  top: 88px;
  z-index: 2;
}

#banner {
  padding-top: 90px;
}

#choice {
  height: 550px;
}

#movie {
  background: #2d0e63;
  position: relative;
  z-index: 2;
}

#guide {
  background: #140037;
}

#rental {
  margin-top: 80px;
}

#food {
  margin-top: 230px;
}

#event {
  margin: 100px 0;
}

#footer {
  background: #211f1f;
}

/* 가운데 영역 */
.container {
  width: 1080px;
  margin: 0 auto;
}

/* 로우 영역 */
.row {
  padding: 0 16px;
}

/* nav */
.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.nav h1 {
  flex-shrink: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.nav h1 a {
  display: block;
  height: 70px;
}
.nav h1 a img {
  width: 100%;
  height: 100%;
}
.nav > ul {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li a {
  display: block;
  width: 130px;
  height: 55px;
  font-size: 17px;
  font-weight: 700;
  line-height: 55px;
}
.nav > ul > li ul {
  position: absolute;
  padding: 22px 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: 20;
}
.nav > ul > li ul a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
}
.nav > ul > li ul a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 0;
  height: 2px;
  background: #444;
  transition: all 0.5s;
}
.nav > ul > li ul a:hover:after {
  left: 0;
  width: 100%;
}
.nav > ul:hover ul {
  opacity: 1;
}
.nav h2 {
  display: flex;
}
.nav .nav_icon a.login_ico {
  height: 50px;
  background: url(../icons/loginIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  display: inline-block;
  position: relative;
}
.nav .nav_icon a.login_ico > span {
  display: inline-block;
  padding: 45px 0;
}
.nav .nav_icon a.logout_ico {
  height: 50px;
  background: url(../icons/logoutIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  display: inline-block;
  position: relative;
}
.nav .nav_icon a.logout_ico > span {
  display: inline-block;
  padding: 45px 0;
}
.nav .nav_icon a.member_ico {
  height: 50px;
  background: url(../icons/memberIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  display: inline-block;
  position: relative;
}
.nav .nav_icon a.member_ico > span {
  display: inline-block;
  padding: 45px 0;
}
.nav .nav_icon a.mypage_ico {
  height: 50px;
  background: url(../icons/mypageIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  display: inline-block;
  position: relative;
}
.nav .nav_icon a.mypage_ico > span {
  display: inline-block;
  padding: 45px 0;
}

/* banner */
.banner_wrap {
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 400px;
}
.banner_wrap > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--i);
}
.banner_wrap > div .hero-info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  display: flex;
  align-items: center;
}
.banner_wrap > div .hero-info .banner_row {
  width: 1080px;
  margin: 0 auto;
}
.banner_wrap > div .hero-info .banner_row h2 {
  padding: 0 16px;
  color: transparent;
  -webkit-text-stroke: 3px #e0d4be;
  font-size: clamp(2rem, 9vw, 4rem);
  line-height: clamp(2rem, 9vw, 4rem);
  text-transform: uppercase;
}
.banner_wrap > div .hero-info .banner_row h1 {
  padding: 0 16px;
  color: #fff;
  font-size: clamp(3.2rem, 10vw, 6rem);
  line-height: clamp(3.2rem, 10vw, 6rem);
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.banner_wrap > div .hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.banner_wrap > div .hero-image.hi-1 {
  background-image: url("../img/main_banner01.jpg");
  background-position: center;
}
.banner_wrap > div .hero-image.hi-2 {
  background-image: url("../img/main_banner02.jpg");
  filter: brightness(60%);
}
.banner_wrap > div .hero-image.hi-3 {
  background-image: url("../img/main_banner03.jpg");
}

/* choice */
.choice {
  padding-top: 100px;
  text-align: center;
  position: relative;
}
.choice > h2 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #333;
  padding: 0 0 20px;
  margin: 0 0 30px;
}
.choice > h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #2c00db;
  transform: translate(-50%);
}
.choice > p {
  font-size: 19px;
  color: #666;
}
.choice .choice_btn {
  font-size: 20px;
  font-weight: 700;
  color: #3a0f77;
  cursor: pointer;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0.5em 1em;
  transition: 0.25s;
}
.choice .choice_btn:hover, .choice .choice_btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}
.choice .cards {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.choice .cards .card {
  position: relative;
  width: 120px;
  height: 170px;
  margin: 0 -25px;
  z-index: 1;
}
.choice .cards .card .card-face {
  position: relative;
  height: 100%;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
}
.choice .cards .card .card-face .card-label {
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  color: #2c00db;
  text-shadow: -0.025em 0.025em 0 #ff8080;
  position: absolute;
  top: -25px;
  opacity: 0;
  transition: all 800ms;
}
.choice .cards .card:hover .card-label {
  opacity: 1;
}
.choice .cards .card:nth-child(1) .card-face {
  background-image: url(../img/choice_1.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(35px) rotate(-28.125deg);
}
.choice .cards .card:nth-child(1):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(2) .card-face {
  background-image: url(../img/choice2.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(25px) rotate(-20.875deg);
}
.choice .cards .card:nth-child(2):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(3) .card-face {
  background-image: url(../img/choice3.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(15px) rotate(-13.625deg);
}
.choice .cards .card:nth-child(3):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(4) .card-face {
  background-image: url(../img/choice4.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(5px) rotate(-6.375deg);
}
.choice .cards .card:nth-child(4):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(5) .card-face {
  background-image: url(../img/choice5.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(5px) rotate(1.125deg);
}
.choice .cards .card:nth-child(5):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(6) .card-face {
  background-image: url(../img/choice6.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(15px) rotate(8.125deg);
}
.choice .cards .card:nth-child(6):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(7) .card-face {
  background-image: url(../img/choice6.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(25px) rotate(15.375deg);
}
.choice .cards .card:nth-child(7):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}
.choice .cards .card:nth-child(8) .card-face {
  background-image: url(../img/choice6.jpg);
  background-size: cover;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(35px) rotate(23.625deg);
}
.choice .cards .card:nth-child(8):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgb(45, 14, 99);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
}

/* movie */
.movie {
  padding: 30px 0;
  position: relative;
}
.movie .movie_title {
  margin-bottom: 30px;
}
.movie .movie_title ul {
  display: flex;
  justify-content: center;
}
.movie .movie_title ul li {
  position: relative;
}
.movie .movie_title ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 2px;
  height: 16px;
  background: #999;
}
.movie .movie_title ul li:first-child::before {
  width: 0;
  height: 0;
}
.movie .movie_title ul li.active a {
  color: #fff;
}
.movie .movie_title ul li a {
  font-size: 22px;
  color: #666;
  font-weight: 700;
  padding: 0 15px;
}
.movie .movie_more {
  position: absolute;
  right: 0;
  top: 36px;
}
.movie .movie_more a {
  font-size: 16px;
  color: #e4e4e4;
}
.movie .movie_more a span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../img/icon.png);
  background-position: -136px -3px;
  vertical-align: -4px;
  margin-left: 5px;
}
.movie .movie_chart > div > div > div {
  display: inline-block;
  width: 232px;
  margin-right: 40px;
}
.movie .movie_chart > div > div > div:last-child {
  margin-right: 0;
}
.movie .movie_chart > div > div > div .poster {
  position: relative;
}
.movie .movie_chart > div > div > div .poster img {
  display: block;
  height: 337px;
  border-radius: 5px;
}
.movie .movie_chart > div > div > div .poster .rank {
  position: absolute;
  top: 17px;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #38116a;
  text-align: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.movie .movie_chart > div > div > div .poster .rank strong {
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.movie .movie_chart > div > div > div .infor h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: 8px 0;
}
.movie .movie_chart > div > div > div .infor h3 strong {
  margin-left: 5px;
}
.movie .movie_chart > div > div > div .infor h3 span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../img/icon.png);
  vertical-align: -1px;
  background-color: #222;
}
.movie .movie_chart > div > div > div .infor h3 span.all {
  background-position: -69px -3px;
}
.movie .movie_chart > div > div > div .infor h3 span.a12 {
  background-position: -3px -3px;
}
.movie .movie_chart > div > div > div .infor h3 span.a15 {
  background-position: -25px -3px;
}
.movie .movie_chart > div > div > div .infor h3 span.a19 {
  background-position: -47px -3px;
}
.movie .movie_chart > div > div > div .infor .infor_btn a {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #d9481d;
  padding: 10px 0;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}

/* guide */
.guide {
  padding: 40px 0;
  text-align: center;
}
.guide h2 {
  font-size: 20px;
  color: #d9481d;
  font-weight: 700;
  margin-bottom: 40px;
}
.guide .guide_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
}
.guide .guide_list ul li {
  flex: 1 1 calc(25% - 12px);
  position: relative;
}
.guide .guide_list ul li::before {
  content: "";
  display: block;
  padding-bottom: 100%; /* 정사각형을 유지 */
}
.guide .guide_list ul li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.guide .guide_list ul li a.list1 {
  background: url(../img/img002.png);
  background-size: cover;
}
.guide .guide_list ul li a.list1:hover {
  background: url(../img/img001.png) no-repeat;
  background-size: cover;
}
.guide .guide_list ul li a.list2 {
  background: url(../img/img004.png);
  background-size: cover;
}
.guide .guide_list ul li a.list2:hover {
  background: url(../img/img003.png) no-repeat;
  background-size: cover;
}
.guide .guide_list ul li a.list3 {
  background: url(../img/img006.png);
  background-size: cover;
}
.guide .guide_list ul li a.list3:hover {
  background: url(../img/img005.png) no-repeat;
  background-size: cover;
}
.guide .guide_list ul li a.list4 {
  background: url(../img/img008.png);
  background-size: cover;
}
.guide .guide_list ul li a.list4:hover {
  background: url(../img/img007.png) no-repeat;
  background-size: cover;
}

/* rental */
.rental {
  padding-top: 40px;
  text-align: center;
  background: url(../img/rental_back.png) no-repeat center;
  background-size: cover;
}
.rental > h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.rental > p {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  margin-top: 37px;
}
.rental .rental_service {
  margin: 30px 10% 0 10%;
}
.rental .rental_service ul {
  display: flex;
  justify-content: center;
}
.rental .rental_service ul li {
  flex: 1 1 33.33%;
  margin-bottom: -150px;
  border: 1px solid #707070;
  position: relative;
  margin-right: -4px;
  overflow: hidden;
}
.rental .rental_service ul li:hover {
  background-color: #07090c;
}
.rental .rental_service ul li:hover img {
  animation: rentalAni 0.45s linear forwards;
  animation-iteration-count: 1;
}
.rental .rental_service ul li:hover figcaption {
  animation: rentalFig 0.4s ease-out;
  opacity: 1;
}
.rental .rental_service ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rental .rental_service ul li figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  opacity: 0;
  color: #fff;
  z-index: 1;
}
.rental .rental_service ul li figcaption .rental_figWrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.rental .rental_service ul li figcaption .rental_figWrap h3 {
  font-size: 17px;
  margin-bottom: 6px;
}
.rental .rental_service ul li figcaption .rental_figWrap p {
  font-size: 14px;
}
.rental .rental_service ul li #bars {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 40px;
  height: 30px;
  margin: -30px 0 0 -20px;
}
.rental .rental_service ul li #bars .bar {
  position: absolute;
  bottom: 1px;
  width: 3px;
  height: 3px;
  background: #666;
  animation: sound linear infinite alternate;
}
.rental .rental_service ul li #bars .bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.rental .rental_service ul li #bars .bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.rental .rental_service ul li #bars .bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.rental .rental_service ul li #bars .bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.rental .rental_service ul li #bars .bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
.rental .rental_service ul li #bars .bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}
.rental .rental_service ul li #bars .bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}
.rental .rental_service ul li #bars .bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}
.rental .rental_service ul li #bars .bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}
.rental .rental_service ul li #bars .bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}
@keyframes rentalAni {
  50% {
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
@keyframes rentalFig {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 30px;
  }
}
/* food */
.food .food_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}
.food .food_header h2 {
  font-size: 30px;
}
.food .food_header a {
  font-size: 16px;
  color: #666;
}
.food .food_header a span {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: -4px;
  margin-left: 5px;
  background: url(../img/icon.png);
  background-position: -105px -3px;
}
.food .food_chart {
  overflow-x: hidden;
}
.food .food_chart .swiper-slide img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* event */
.event img {
  display: block;
  border-radius: 4px;
  height: 100%;
}
.event .event_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}
.event .event_header h2 {
  font-size: 30px;
}
.event .event_header a {
  font-size: 16px;
  color: #666;
}
.event .event_header a span {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: -4px;
  margin-left: 5px;
  background: url(../img/icon.png);
  background-position: -105px -3px;
}
.event .event_main {
  display: flex;
}
.event .event_main .event_left {
  flex-basis: 66%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
}
.event .event_main .event_left .event_slider {
  margin-bottom: 2%;
}
.event .event_main .event_left .event_box1 {
  flex-basis: 49%;
  margin-right: 2%;
}
.event .event_main .event_left .event_box2 {
  flex-basis: 49%;
}
.event .event_main .event_right {
  flex-basis: 34%;
}

/* footer */
.footer_info {
  padding: 50px 0;
  position: relative;
}
.footer_info > span {
  display: inline-block;
  width: 50px;
}
.footer_info > ul {
  padding: 15px 0;
}
.footer_info > ul li {
  position: relative;
  display: inline;
  white-space: nowrap;
}
.footer_info > ul li:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  width: 1px;
  height: 11px;
  background: #8f8f8f;
}
.footer_info > ul li:last-child::after {
  width: 0;
  height: 0;
}
.footer_info > ul li a {
  color: #8f8f8f;
  padding-right: 16px;
}
.footer_info address p {
  color: #8f8f8f;
  padding-bottom: 15px;
}
.footer_info .footer_sns {
  position: absolute;
  right: 15px;
  top: 33px;
}
.footer_info .footer_sns li {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 4px;
  background-image: url(../img/icon.png);
}
.footer_info .footer_sns li.s1 {
  background-position: 0 -428px;
}
.footer_info .footer_sns li.s1:hover {
  background-position: 0 -464px;
}
.footer_info .footer_sns li.s2 {
  background-position: -36px -428px;
}
.footer_info .footer_sns li.s2:hover {
  background-position: -36px -464px;
}
.footer_info .footer_sns li.s3 {
  background-position: -72px -428px;
}
.footer_info .footer_sns li.s3:hover {
  background-position: -72px -464px;
}
.footer_info .footer_sns li.s4 {
  background-position: -108px -428px;
}
.footer_info .footer_sns li.s4:hover {
  background-position: -108px -464px;
}
.footer_info .footer_sns li.s5 {
  background-position: -144px -428px;
}
.footer_info .footer_sns li.s5:hover {
  background-position: -144px -464px;
}
.footer_info .footer_sns .tel {
  text-align: right;
  padding-top: 5px;
}
.footer_info .footer_sns .tel a {
  color: #8f8f8f;
  font-size: 21px;
}
.footer_info .footer_sns .tel a em {
  color: #fff;
}

/* 미디어 쿼리 */
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .nav > ul > li a {
    width: 100px;
  }
  .nav .nav_icon a {
    width: auto;
  }
  .banner_wrap .banner_row h1,
  h2 {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .nav h1 a {
    height: 50px;
  }
  .nav > ul > li a {
    width: 70px;
    font-size: 15px;
  }
  .nav > ul > li ul a {
    font-size: 12px;
  }
  .choice h2 {
    font-size: 25px;
  }
  .choice > p {
    font-size: 16px;
  }
  .choice .choice_btn {
    font-size: 16px;
  }
  .guide_list ul {
    gap: 12px !important;
  }
  .guide_list ul li {
    flex: 1 1 calc(50% - 12px) !important;
  }
  .rental > h2 {
    font-size: 25px;
  }
  .rental > p {
    font-size: 16px;
  }
  .rental .rental_figWrap h3 {
    font-size: 15px !important;
  }
  .rental .rental_figWrap p {
    font-size: 12px !important;
  }
  .event h2 {
    font-size: 25px !important;
  }
  .food h2 {
    font-size: 25px !important;
  }
}