@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 레이아웃 */
body {
  width: 100%;
  position: relative;
  // min-width: 1080px;
}
#nav {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    left: 0;
    top: 88px;
    z-index: 2;
  }
}
#banner {
  padding-top: 90px;
}
#choice {
  margin: 80px 0;
}
#movie {
  background: var(--main-color);
  position: relative;
  z-index: 2;
}
#guide {
}
#rental {
  background: url(../img/rental_back.png) no-repeat center;
  background-size: cover;
}
#food {
  margin-top: 185px;
}
#event {
  margin: 80px 0;
}
#footer {
  background: var(--background-black);
}

/* 가운데 영역 */
.container {
  width: 1080px;
  margin: 0 auto;
}

/* 로우 영역 */
.row {
  padding: 0 16px;
}

/* nav */
$status: (login, logout, member, mypage);
.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;

  h1 {
    flex-shrink: 1;
    padding: 10px 0;
    display: flex;
    align-items: center;
    a {
      display: block;
      height: 70px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  > ul {
    display: flex;
    align-items: center;
    text-align: center;

    > li {
      position: relative;
      a {
        display: block;
        width: 130px;
        height: 55px;
        font-size: 1.31em;
        font-weight: 700;
        line-height: 55px;
      }

      ul {
        position: absolute;
        padding: 22px 0;
        opacity: 0;
        transition: all 0.5s;
        z-index: 20;
        a {
          position: relative;
          font-size: 1.08em;
          font-weight: 500;

          &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 10px;
            width: 0;
            height: 2px;
            background: #444;
            transition: all 0.5s;
          }

          &:hover:after {
            left: 0;
            width: 100%;
          }
        }
      }
    }

    &:hover ul {
      opacity: 1;
    }
  }

  h2 {
    display: flex;
  }
  .nav_icon {
    padding-top: 20px;
    @each $status in $status {
      a.#{$status}_ico {
        width: 50px;
        height: 36px;
        background: url(../icons/#{$status}Icon.png);
        background-repeat: no-repeat;
        background-position: center top;
        display: inline-block;
        position: relative;
        > span {
          display: inline-block;
          width: 100%;
          font-weight: 500;
          text-align: center;
          padding: 35px 0;
        }
      }
    }

    a:last-child {
      margin-left: 20px;
    }
  }

  .menu_btn {
    display: none;
  }
}

/* mobile_menu */
.mobile_menu_wrap {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  width: 0;
  height: 100vh;
  // background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  color: #fff;

  &.show {
    width: 100vw;
    opacity: 1;

    .mobile_menu {
      right: 0;
    }
  }

  .mobile_menu {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    position: absolute;
    right: -65%;
    top: 0;
    // background: #fff;
    transition: all 0.3s ease;

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: -2px 0 10px rgb(0 0 0 / 10%), -10px 0 15px rgb(0 0 0 / 20%);
    background-image: linear-gradient(
      rgba(66, 60, 90, 0.6),
      rgba(66, 60, 90, 0.8)
    );
    border-radius: 7px 0 0 7px;

    .m_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 68px;
      padding: 0 24px;

      .m_logo {
        width: 50px;
        height: 50px;
      }

      .m_menu_close {
        width: 24px;
        height: 24px;
        background: url(../icons/close_btn.svg) no-repeat center;
        text-indent: -9999px;
        cursor: pointer;
      }
    }

    .quick {
      display: flex;

      a {
        display: flex;
        flex-direction: column;
        height: 64px;
        text-align: center;
        flex: 1 1 0;
        color: #fff;

        i {
          font-size: 20px;
          flex-basis: 100%;
          padding-top: 24px;
        }

        span {
          font-size: 14px;
          flex-basis: 100%;
        }
      }
    }

    .m_menu {
      padding: 24px 0;
      flex-grow: 1;

      .m_main_li {
        font-size: 14px;
        display: block;
        color: #fff;
        padding: 12px 24px;
      }

      .m_sub_li {
        display: none;
        a {
          font-size: 13px;
          display: block;
          color: #fff;
          padding: 8px 16px 8px 40px;
        }
      }
    }

    .m_info {
      height: 140px;
      border-top: 1px solid #fff;
      margin: 0 24px;
      padding: 24px 0;

      em {
        display: block;
        font-size: 24px;
        font-weight: 600;
        margin-top: 7px;
      }

      ul {
        margin-top: 20px;
        li {
          display: inline-block;
          margin-left: 14px;
          width: 36px;
          height: 36px;
          border-radius: 10px;
          box-shadow: 3px 3px 5px rgba(90, 90, 90, 0.5),
            -3px -3px 5px rgba(255, 255, 255, 0.5);

          &:first-child {
            margin: 0;
            background: url(../icons/twitter.png) no-repeat center;
            background-size: 70%;
          }
          &:nth-child(2) {
            background: url(../icons/instar.png) no-repeat center;
            background-size: 70%;
          }
          &:nth-child(3) {
            background: url(../icons/facebook.png) no-repeat center;
            background-size: 70%;
          }
        }
      }
    }
  }
}

/* banner */
.banner_wrap {
  position: relative;
  width: 100%;
  height: 400px;

  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--i);

    .hero-info {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 8;
      display: flex;
      align-items: center;
      .banner_row {
        width: 1080px;
        margin: 0 auto;
        h2 {
          padding: 0 16px;
          color: transparent;
          -webkit-text-stroke: 3px #e0d4be;
          font-size: clamp(2rem, 9vw, 4rem);
          line-height: clamp(2rem, 9vw, 4rem);
          text-transform: uppercase;
        }

        h1 {
          padding: 0 16px;
          color: #fff;
          font-size: clamp(3.2rem, 10vw, 6rem);
          line-height: clamp(3.2rem, 10vw, 6rem);
          text-transform: uppercase;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .hero-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

      &.hi-1 {
        background-image: url("../img/main_banner01.jpg");
        background-position: center;
      }
      &.hi-2 {
        background-image: url("../img/main_banner02.jpg");
        filter: brightness(60%);
      }
      &.hi-3 {
        background-image: url("../img/main_banner03.jpg");
      }
    }
  }
}

/* choice */
.choice {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .choice_info {
    flex-grow: 1;
    h2 {
      position: relative;
      font-size: 2.31em;
      font-weight: bold;
      padding-bottom: var(--size-padding);
      margin-bottom: calc(var(--size-padding) * 1.5);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 3px;
        background: #ff4500;
      }
    }
    p {
      font-size: 1.69em;
      color: var(--sub-font-color);
    }
    .choice_btn {
      margin-top: var(--size-padding);
      padding: 10px 30px;
      font-size: 1.69em;
      font-size: 1.15em;
      font-weight: 700;
      background: transparent;
      border: 2px solid var(--main-color-sub);
      border-radius: 5px;
      transition: all 0.25s ease;
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 0 2em var(--main-color-sub);
        color: #fff;
      }
    }
  }

  .choice_cards {
    width: 250px;
    height: 350px;
    padding: 50px;

    .swiper-slide {
      position: relative;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #0f2027, transparent, transparent);
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
          position: absolute;
          bottom: 0;
          left: 0;
          color: #fff;
          font-weight: 400;
          font-size: 1.1rem;
          margin: 0 0 20px 20px;
        }
      }
    }
  }
}

/* movie */
.movie {
  padding: calc(var(--size-padding) * 3) 0;
  position: relative;

  .movie_title {
    margin-bottom: 30px;

    ul {
      display: flex;

      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0px;
          top: 11px;
          width: 2px;
          height: 16px;
          background: #999;
        }

        &:first-child::before {
          width: 0;
          height: 0;
        }

        &.active a {
          color: #fff;
        }

        a {
          font-size: 22px;
          color: #666;
          font-weight: 700;
          padding: 0 15px;
        }
      }
    }
  }
  .movie_more {
    position: absolute;
    right: 0;
    top: 54px;

    a {
      font-size: 16px;
      color: #e4e4e4;

      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../img/icon.png);
        background-position: -136px -3px;
        vertical-align: -4px;
        margin-left: 5px;
      }
    }
  }
  .movie_chart {
    > div > div > div {
      display: inline-block;
      width: 232px;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      .poster {
        position: relative;

        img {
          display: block;
          height: 337px;
          border-radius: 5px;
        }

        .rank {
          position: absolute;
          top: 17px;
          left: 0;
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: #38116a;
          text-align: center;
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

          strong {
            color: #fff;
            font-size: 15px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          }
        }
      }

      .infor {
        h3 {
          color: #fff;
          font-size: 1.54em;
          font-weight: 500;
          padding: 8px 0;

          strong {
            margin-left: 5px;
          }

          span {
            width: 20px;
            height: 20px;
            display: inline-block;
            background: url(../img/icon.png);
            vertical-align: -1px;
            background-color: #222;

            &.all {
              background-position: -69px -3px;
            }
            &.a12 {
              background-position: -3px -3px;
            }
            &.a15 {
              background-position: -25px -3px;
            }
            &.a19 {
              background-position: -47px -3px;
            }
          }
        }

        .infor_btn a {
          display: block;
          width: 100%;
          text-align: center;
          border: 2px solid #fff;
          padding: 10px 0;
          color: #fff;
          font-size: 15px;
          border-radius: 5px;
          box-sizing: border-box;
        }
      }
    }
  }
}

/* guide */
.guide {
  padding: calc(var(--size-padding) * 3) 0;

  .guide_list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 50px;

    li {
      flex: 1 1 calc(20% - 50px);
      position: relative;

      &::before {
        content: "";
        display: block;
        padding-bottom: 100%; /* 정사각형을 유지 */
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.35s;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.5em;
        font-family: "Poppins", sans-serif;
        font-weight: 500;

        &.list1 {
          background: url(../img/quick01.jpg);
          background-size: cover;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }

        &.list2 {
          background: url(../img/quick02.jpg);
          background-size: cover;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }
        &.list3 {
          background: url(../img/quick03.jpg);
          background-size: cover;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }
        &.list4 {
          background: url(../img/quick04.jpg);
          background-size: cover;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }
        &.list5 {
          background: url(../img/quick05.jpg);
          background-size: cover;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

/* rental */
.rental {
  padding: calc(var(--size-padding) * 3) 0;

  > h2 {
    font-size: 2.31em;
    font-weight: bold;
    color: #fff;
    margin-bottom: calc(var(--size-padding) * 1.5);
    text-align: center;
  }

  > p {
    font-size: 1.69em;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }

  .rental_service {
    margin: 30px 10% 0 10%;

    ul {
      display: flex;
      justify-content: center;

      li {
        flex: 1 1 33.33%;
        margin-bottom: -150px;
        border: 1px solid #707070;
        position: relative;
        margin-right: -4px;
        overflow: hidden;

        &:hover {
          background-color: #07090c;
        }

        &:hover img {
          -webkit-animation: rentalAni 0.45s linear forwards;
          animation: rentalAni 0.45s linear forwards;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
        }

        &:hover figcaption {
          animation: rentalFig 0.4s ease-out;
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        figcaption {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: left;
          opacity: 0;
          color: #fff;

          z-index: 1;

          .rental_figWrap {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;

            h3 {
              font-size: 17px;
              margin-bottom: 6px;
            }
            p {
              font-size: 14px;
            }
          }
        }

        #bars {
          position: absolute;
          left: 50%;
          top: 90%;
          width: 40px;
          height: 30px;
          margin: -30px 0 0 -20px;

          .bar {
            position: absolute;
            bottom: 1px;
            width: 3px;
            height: 3px;
            background: #666;
            animation: sound linear infinite alternate;

            &:nth-child(1) {
              left: 1px;
              animation-duration: 474ms;
            }
            &:nth-child(2) {
              left: 5px;
              animation-duration: 433ms;
            }
            &:nth-child(3) {
              left: 9px;
              animation-duration: 407ms;
            }
            &:nth-child(4) {
              left: 13px;
              animation-duration: 458ms;
            }
            &:nth-child(5) {
              left: 17px;
              animation-duration: 400ms;
            }
            &:nth-child(6) {
              left: 21px;
              animation-duration: 427ms;
            }
            &:nth-child(7) {
              left: 25px;
              animation-duration: 441ms;
            }
            &:nth-child(8) {
              left: 29px;
              animation-duration: 419ms;
            }
            &:nth-child(9) {
              left: 33px;
              animation-duration: 487ms;
            }
            &:nth-child(10) {
              left: 37px;
              animation-duration: 442ms;
            }
          }
        }
      }
    }
  }
}
//rental img animations
@-webkit-keyframes rentalAni {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
@keyframes rentalAni {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
//rental figcaption animations
@keyframes rentalFig {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
//rental sound bar animation {
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 30px;
  }
}

/* food */
.food {
  .food_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    h2 {
      font-size: 30px;
    }

    a {
      font-size: 16px;
      color: #666;

      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: -4px;
        margin-left: 5px;

        background: url(../img/icon.png);
        background-position: -105px -3px;
      }
    }
  }

  .food_chart {
    overflow-x: hidden;

    .swiper-slide {
      img {
        border-radius: 10px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* event */
.event {
  img {
    display: block;
    border-radius: 10px;
    height: 100%;
  }

  .event_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    h2 {
      font-size: 30px;
    }

    a {
      font-size: 16px;
      color: #666;

      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: -4px;
        margin-left: 5px;

        background: url(../img/icon.png);
        background-position: -105px -3px;
      }
    }
  }

  .event_main {
    display: flex;

    .event_left {
      flex-basis: 66%;
      margin-right: 32px;

      display: flex;
      flex-wrap: wrap;

      .event_slider {
        margin-bottom: 32px;
      }

      .event_box1 {
        flex-basis: calc(50% - 16px);
        margin-right: 32px;
      }

      .event_box2 {
        flex-basis: calc(50% - 16px);
      }
    }

    .event_right {
      flex-basis: calc(34% - 32px);
    }
  }
}

/* footer */
.footer_info {
  padding: 80px 0;
  position: relative;

  > span {
    display: inline-block;
    width: 50px;
  }

  > ul {
    padding: 15px 0;

    li {
      position: relative;
      display: inline;
      white-space: nowrap;

      &:after {
        content: "";
        position: absolute;
        right: 5px;
        top: 5px;
        width: 1px;
        height: 11px;
        background: #8f8f8f;
      }

      &:last-child::after {
        width: 0;
        height: 0;
      }

      a {
        color: #8f8f8f;
        padding-right: 16px;
      }
    }
  }

  address p {
    color: #8f8f8f;
    padding-bottom: 15px;
  }

  .footer_sns {
    position: absolute;
    right: 0;
    top: 63px;

    ul {
      text-align: right;
    }

    li {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-left: 4px;
      background-image: url(../img/icon.png);

      &.s1 {
        background-position: 0 -428px;
        &:hover {
          background-position: 0 -464px;
        }
      }
      &.s2 {
        background-position: -36px -428px;
        &:hover {
          background-position: -36px -464px;
        }
      }
      &.s3 {
        background-position: -72px -428px;
        &:hover {
          background-position: -72px -464px;
        }
      }
      &.s4 {
        background-position: -108px -428px;
        &:hover {
          background-position: -108px -464px;
        }
      }
      &.s5 {
        background-position: -144px -428px;
        &:hover {
          background-position: -144px -464px;
        }
      }
    }

    .tel {
      text-align: right;
      padding-top: 5px;

      a {
        color: #8f8f8f;
        font-size: 21px;
        em {
          color: #fff;
        }
      }
    }
  }
}

.global_btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  z-index: 5;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 32px;
    color: #fff;
    background-color: var(--main-color-sub);
    transition: 0.2s;

    &.go_top {
      border-radius: 10px 10px 0 0;
    }

    &.go_down {
      margin-top: 2px;
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* 미디어 쿼리 */
@media (max-width: 1090px) {
  .container {
    width: 100%;
  }

  .nav {
    > ul > li a {
      width: 100px;
    }

    .nav_icon {
      display: none;
      // a {
      //   width: auto;
      // }
    }

    .menu_btn {
      display: flex;
      width: 24px;
      height: 100%;
      align-items: center;
      cursor: pointer;
    }
  }

  .banner_wrap .banner_row h1,
  h2 {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .choice {
    text-align: center;
    flex-direction: column;

    .choice_info {
      h2:after {
        left: 50%;
        transform: translate(-50%);
      }
    }

    .choice_card_container {
      .choice_cards {
        width: 220px;
        height: 300px;
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    h1 a {
      height: 50px;
    }

    > ul {
      display: none;
      > li {
        a {
          width: 70px;
          font-size: 15px;
        }
        ul a {
          font-size: 12px;
        }
      }
    }
  }

  .choice {
    h2 {
      font-size: 25px;
    }
    > p {
      font-size: 16px;
    }
    .choice_btn {
      font-size: 16px;
    }
  }

  .guide_list ul {
    gap: 12px !important;

    li {
      flex: 1 1 calc(50% - 12px) !important;

      &:last-child {
        display: none;
      }
    }
  }

  .rental {
    > h2 {
      font-size: 25px;
    }
    > p {
      font-size: 16px;
    }

    .rental_figWrap {
      h3 {
        font-size: 15px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
  }

  .event {
    h2 {
      font-size: 25px !important;
    }

    .event_left {
      margin-right: 16px !important;

      .event_slider {
        margin-bottom: 16px !important;
      }

      .event_box1 {
        flex-basis: calc(50% - 8px) !important;
        margin-right: 16px !important;
      }

      .event_box2 {
        flex-basis: calc(50% - 8px) !important;
      }
    }

    .event_right {
      flex-basis: calc(34% - 16px) !important;
    }
  }

  .food {
    h2 {
      font-size: 25px !important;
    }
  }
}
