@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

/* 레이아웃 */
body {
  width: 100%;
  position: relative;
  // min-width: 1080px;
}
#nav {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #3a0f77;
    left: 0;
    top: 88px;
    z-index: 2;
  }
}
#banner {
  padding-top: 90px;
}
#choice {
  height: 550px;
}
#movie {
  background: #2d0e63;
  position: relative;
  z-index: 2;
}
#guide {
  background: #140037;
}
#rental {
  margin-top: 80px;
}
#food {
  margin-top: 230px;
}
#event {
  margin: 100px 0;
}
#footer {
  background: #211f1f;
}

/* 가운데 영역 */
.container {
  width: 1080px;
  margin: 0 auto;
}

/* 로우 영역 */
.row {
  padding: 0 16px;
}

/* nav */
$status: (login, logout, member, mypage);
.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;

  h1 {
    flex-shrink: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    a {
      display: block;
      height: 70px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  > ul {
    display: flex;
    align-items: center;
    text-align: center;

    > li {
      position: relative;
      a {
        display: block;
        width: 130px;
        height: 55px;
        font-size: 17px;
        font-weight: 700;
        line-height: 55px;
      }

      ul {
        position: absolute;
        padding: 22px 0;
        opacity: 0;
        transition: all 0.5s;
        z-index: 20;
        a {
          position: relative;
          font-size: 14px;
          font-weight: 500;

          &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 10px;
            width: 0;
            height: 2px;
            background: #444;
            transition: all 0.5s;
          }

          &:hover:after {
            left: 0;
            width: 100%;
          }
        }
      }
    }

    &:hover ul {
      opacity: 1;
    }
  }

  h2 {
    display: flex;
  }
  .nav_icon {
    @each $status in $status {
      a.#{$status}_ico {
        height: 50px;
        background: url(../icons/#{$status}Icon.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 10px;
        display: inline-block;
        position: relative;
        > span {
          display: inline-block;
          padding: 45px 0;
        }
      }
    }
  }
}

/* banner */
.banner_wrap {
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 400px;

  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--i);

    .hero-info {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 8;
      display: flex;
      align-items: center;
      .banner_row {
        width: 1080px;
        margin: 0 auto;
        h2 {
          padding: 0 16px;
          color: transparent;
          -webkit-text-stroke: 3px #e0d4be;
          font-size: clamp(2rem, 9vw, 4rem);
          line-height: clamp(2rem, 9vw, 4rem);
          text-transform: uppercase;
        }

        h1 {
          padding: 0 16px;
          color: #fff;
          font-size: clamp(3.2rem, 10vw, 6rem);
          line-height: clamp(3.2rem, 10vw, 6rem);
          text-transform: uppercase;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .hero-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

      &.hi-1 {
        background-image: url("../img/main_banner01.jpg");
        background-position: center;
      }
      &.hi-2 {
        background-image: url("../img/main_banner02.jpg");
        filter: brightness(60%);
      }
      &.hi-3 {
        background-image: url("../img/main_banner03.jpg");
      }
    }
  }
}

/* choice */
.choice {
  padding-top: 100px;
  text-align: center;
  position: relative;

  > h2 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    padding: 0 0 20px;
    margin: 0 0 30px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 50px;
      height: 2px;
      background: #2c00db;
      transform: translate(-50%);
    }
  }

  > p {
    font-size: 19px;
    color: #666;
  }

  .choice_btn {
    font-size: 20px;
    font-weight: 700;
    color: #3a0f77;
    cursor: pointer;
    background: none;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0.5em 1em;
    transition: 0.25s;

    &:hover,
    &:focus {
      box-shadow: 0 0.5em 0.5em -0.4em;
      transform: translateY(-0.25em);
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .card {
      position: relative;
      width: 120px;
      height: 170px;
      margin: 0 -25px;
      z-index: 1;

      .card-face {
        position: relative;
        height: 100%;
        transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;

        .card-label {
          white-space: nowrap;
          font-size: 15px;
          font-weight: bold;
          color: #2c00db;
          text-shadow: -0.025em 0.025em 0 #ff8080;
          position: absolute;
          top: -25px;
          opacity: 0;
          transition: all 800ms;
        }
      }
      &:hover {
        .card-label {
          opacity: 1;
        }
      }
      &:nth-child(1) .card-face {
        background-image: url(../img/choice_1.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(35px) rotate(-28.125deg);
      }
      &:nth-child(1):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(2) .card-face {
        background-image: url(../img/choice2.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(25px) rotate(-20.875deg);
      }
      &:nth-child(2):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(3) .card-face {
        background-image: url(../img/choice3.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(15px) rotate(-13.625deg);
      }
      &:nth-child(3):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(4) .card-face {
        background-image: url(../img/choice4.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(5px) rotate(-6.375deg);
      }
      &:nth-child(4):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(5) .card-face {
        background-image: url(../img/choice5.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(5px) rotate(1.125deg);
      }
      &:nth-child(5):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(6) .card-face {
        background-image: url(../img/choice6.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(15px) rotate(8.125deg);
      }
      &:nth-child(6):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(7) .card-face {
        background-image: url(../img/choice6.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(25px) rotate(15.375deg);
      }
      &:nth-child(7):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
      &:nth-child(8) .card-face {
        background-image: url(../img/choice6.jpg);
        background-size: cover;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(35px) rotate(23.625deg);
      }
      &:nth-child(8):hover .card-face {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 0 2px rgba(45, 14, 99, 1);
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
      }
    }
  }
}

/* movie */
.movie {
  padding: 30px 0;
  position: relative;

  .movie_title {
    margin-bottom: 30px;

    ul {
      display: flex;
      justify-content: center;

      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0px;
          top: 11px;
          width: 2px;
          height: 16px;
          background: #999;
        }

        &:first-child::before {
          width: 0;
          height: 0;
        }

        &.active a {
          color: #fff;
        }

        a {
          font-size: 22px;
          color: #666;
          font-weight: 700;
          padding: 0 15px;
        }
      }
    }
  }
  .movie_more {
    position: absolute;
    right: 0;
    top: 36px;

    a {
      font-size: 16px;
      color: #e4e4e4;

      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../img/icon.png);
        background-position: -136px -3px;
        vertical-align: -4px;
        margin-left: 5px;
      }
    }
  }
  .movie_chart {
    > div > div > div {
      display: inline-block;
      width: 232px;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      .poster {
        position: relative;

        img {
          display: block;
          height: 337px;
          border-radius: 5px;
        }

        .rank {
          position: absolute;
          top: 17px;
          left: 0;
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: #38116a;
          text-align: center;
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

          strong {
            color: #fff;
            font-size: 15px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          }
        }
      }

      .infor {
        h3 {
          color: #fff;
          font-size: 22px;
          font-weight: 500;
          padding: 8px 0;

          strong {
            margin-left: 5px;
          }

          span {
            width: 20px;
            height: 20px;
            display: inline-block;
            background: url(../img/icon.png);
            vertical-align: -1px;
            background-color: #222;

            &.all {
              background-position: -69px -3px;
            }
            &.a12 {
              background-position: -3px -3px;
            }
            &.a15 {
              background-position: -25px -3px;
            }
            &.a19 {
              background-position: -47px -3px;
            }
          }
        }

        .infor_btn a {
          display: block;
          width: 100%;
          text-align: center;
          background-color: #d9481d;
          padding: 10px 0;
          color: #fff;
          font-size: 15px;
          border-radius: 5px;
        }
      }
    }
  }
}

/* guide */
.guide {
  padding: 40px 0;
  text-align: center;

  h2 {
    font-size: 20px;
    color: #d9481d;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .guide_list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 12px;

    li {
      flex: 1 1 calc(25% - 12px);
      position: relative;

      &::before {
        content: "";
        display: block;
        padding-bottom: 100%; /* 정사각형을 유지 */
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;

        &.list1 {
          background: url(../img/img002.png);
          background-size: cover;

          &:hover {
            background: url(../img/img001.png) no-repeat;
            background-size: cover;
          }
        }
        &.list2 {
          background: url(../img/img004.png);
          background-size: cover;
          &:hover {
            background: url(../img/img003.png) no-repeat;
            background-size: cover;
          }
        }
        &.list3 {
          background: url(../img/img006.png);
          background-size: cover;
          &:hover {
            background: url(../img/img005.png) no-repeat;
            background-size: cover;
          }
        }
        &.list4 {
          background: url(../img/img008.png);
          background-size: cover;
          &:hover {
            background: url(../img/img007.png) no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
}

/* rental */
.rental {
  padding-top: 40px;
  text-align: center;
  background: url(../img/rental_back.png) no-repeat center;
  background-size: cover;

  > h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }

  > p {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    margin-top: 37px;
  }

  .rental_service {
    margin: 30px 10% 0 10%;

    ul {
      display: flex;
      justify-content: center;

      li {
        flex: 1 1 33.33%;
        margin-bottom: -150px;
        border: 1px solid #707070;
        position: relative;
        margin-right: -4px;
        overflow: hidden;

        &:hover {
          background-color: #07090c;
        }

        &:hover img {
          -webkit-animation: rentalAni 0.45s linear forwards;
          animation: rentalAni 0.45s linear forwards;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
        }

        &:hover figcaption {
          animation: rentalFig 0.4s ease-out;
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        figcaption {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: left;
          opacity: 0;
          color: #fff;

          z-index: 1;

          .rental_figWrap {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;

            h3 {
              font-size: 17px;
              margin-bottom: 6px;
            }
            p {
              font-size: 14px;
            }
          }
        }

        #bars {
          position: absolute;
          left: 50%;
          top: 90%;
          width: 40px;
          height: 30px;
          margin: -30px 0 0 -20px;

          .bar {
            position: absolute;
            bottom: 1px;
            width: 3px;
            height: 3px;
            background: #666;
            animation: sound linear infinite alternate;

            &:nth-child(1) {
              left: 1px;
              animation-duration: 474ms;
            }
            &:nth-child(2) {
              left: 5px;
              animation-duration: 433ms;
            }
            &:nth-child(3) {
              left: 9px;
              animation-duration: 407ms;
            }
            &:nth-child(4) {
              left: 13px;
              animation-duration: 458ms;
            }
            &:nth-child(5) {
              left: 17px;
              animation-duration: 400ms;
            }
            &:nth-child(6) {
              left: 21px;
              animation-duration: 427ms;
            }
            &:nth-child(7) {
              left: 25px;
              animation-duration: 441ms;
            }
            &:nth-child(8) {
              left: 29px;
              animation-duration: 419ms;
            }
            &:nth-child(9) {
              left: 33px;
              animation-duration: 487ms;
            }
            &:nth-child(10) {
              left: 37px;
              animation-duration: 442ms;
            }
          }
        }
      }
    }
  }
}
//rental img animations
@-webkit-keyframes rentalAni {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
@keyframes rentalAni {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
//rental figcaption animations
@keyframes rentalFig {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
//rental sound bar animation {
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 30px;
  }
}

/* food */
.food {
  .food_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    h2 {
      font-size: 30px;
    }

    a {
      font-size: 16px;
      color: #666;

      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: -4px;
        margin-left: 5px;

        background: url(../img/icon.png);
        background-position: -105px -3px;
      }
    }
  }

  .food_chart {
    overflow-x: hidden;

    .swiper-slide {
      img {
        border-radius: 20px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* event */
.event {
  img {
    display: block;
    border-radius: 4px;
    height: 100%;
  }

  .event_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    h2 {
      font-size: 30px;
    }

    a {
      font-size: 16px;
      color: #666;

      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: -4px;
        margin-left: 5px;

        background: url(../img/icon.png);
        background-position: -105px -3px;
      }
    }
  }

  .event_main {
    display: flex;

    .event_left {
      flex-basis: 66%;
      margin-right: 2%;

      display: flex;
      flex-wrap: wrap;

      .event_slider {
        margin-bottom: 2%;
      }

      .event_box1 {
        flex-basis: 49%;
        margin-right: 2%;
      }

      .event_box2 {
        flex-basis: 49%;
      }
    }

    .event_right {
      flex-basis: 34%;
    }
  }
}

/* footer */
.footer_info {
  padding: 50px 0;
  position: relative;

  > span {
    display: inline-block;
    width: 50px;
  }

  > ul {
    padding: 15px 0;

    li {
      position: relative;
      display: inline;
      white-space: nowrap;

      &:after {
        content: "";
        position: absolute;
        right: 5px;
        top: 5px;
        width: 1px;
        height: 11px;
        background: #8f8f8f;
      }

      &:last-child::after {
        width: 0;
        height: 0;
      }

      a {
        color: #8f8f8f;
        padding-right: 16px;
      }
    }
  }

  address p {
    color: #8f8f8f;
    padding-bottom: 15px;
  }

  .footer_sns {
    position: absolute;
    right: 15px;
    top: 33px;

    li {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-left: 4px;
      background-image: url(../img/icon.png);

      &.s1 {
        background-position: 0 -428px;
        &:hover {
          background-position: 0 -464px;
        }
      }
      &.s2 {
        background-position: -36px -428px;
        &:hover {
          background-position: -36px -464px;
        }
      }
      &.s3 {
        background-position: -72px -428px;
        &:hover {
          background-position: -72px -464px;
        }
      }
      &.s4 {
        background-position: -108px -428px;
        &:hover {
          background-position: -108px -464px;
        }
      }
      &.s5 {
        background-position: -144px -428px;
        &:hover {
          background-position: -144px -464px;
        }
      }
    }

    .tel {
      text-align: right;
      padding-top: 5px;

      a {
        color: #8f8f8f;
        font-size: 21px;
        em {
          color: #fff;
        }
      }
    }
  }
}

/* 미디어 쿼리 */
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .nav {
    > ul > li a {
      width: 100px;
    }

    .nav_icon a {
      width: auto;
    }
  }

  .banner_wrap .banner_row h1,
  h2 {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .nav {
    h1 a {
      height: 50px;
    }
    > ul > li {
      a {
        width: 70px;
        font-size: 15px;
      }
      ul a {
        font-size: 12px;
      }
    }
  }

  .choice {
    h2 {
      font-size: 25px;
    }
    > p {
      font-size: 16px;
    }
    .choice_btn {
      font-size: 16px;
    }

    .card {
      margin: 17px -40px !important;
    }
  }

  .guide_list ul {
    gap: 12px !important;

    li {
      flex: 1 1 calc(50% - 12px) !important;
    }
  }

  .rental {
    > h2 {
      font-size: 25px;
    }
    > p {
      font-size: 16px;
    }

    .rental_figWrap {
      h3 {
        font-size: 15px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
  }

  .event {
    h2 {
      font-size: 25px !important;
    }
  }

  .food {
    h2 {
      font-size: 25px !important;
    }
  }
}
